<h1> All deals </h1>

<p>Total_transaction_deal: <%= @total_deal %></p>

<% @deals.each do |deal| %>
    <p>Deal name: <%= deal.name %> </p>
    <p>Deal amount: <%= deal.amount %> </p> <br>
<%end %>
<p><%= link_to "Add a new deal", new_user_deal_path(current_user, @groups) %></p>
<p><%= link_to "Back to user", users_path %></p>
